{% extends 'layout.html' %}

{% block body %}
    <h1>About Us</h1>
    <p>Swedbank is a modern bank with roots firmly anchored in Swedish savings bank history. We are an inclusive bank with 7.4 million private customers and 625,000 corporate and organisational customers.
        This makes us the bank in Sweden with the most customers and also with a leading position in Estonia, Latvia and Lithuania.
        As a major bank, we are an important part of the financial system and play an important role in the local communities in which we are active. We are committed to a sound and sustainable financial development not only for our customers but also for society in general.
    </p>
{% endblock %}